#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Prevent setuptools/distribute from accessing the internet.
export http_proxy = http://127.0.0.1:9


%:
	dh $@ --with python3

override_dh_auto_build:
	python3 setup.py build
	dh_auto_build

override_dh_auto_install:
	python3 setup.py install --root=debian/tmp/ --install-layout=deb
	dh_auto_install

override_dh_auto_test:
	python3 setup.py test -vv
